@import "tailwindcss";

input[type="text"] {
background: ghostwhite;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px;
}
input[type="number"] {
    background: ghostwhite;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px;
    }
    input[type="checkbox"] {
        width: 16px;
  height: 16px;
  background: ghostwhite;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
        }
    select {
        background: ghostwhite;
        color: black;
        border: 0;
        padding: 6px 10px;
        border-radius: 4px;
        cursor: pointer;
      }